input
{
    font-size: xx-large;
    height: 100px;
    width: 300px;
    background-color: darkgray;
}
button
{
    width: 48px;
            height: 48px;
            font-size: 18px;
            margin-right: 5px;
            margin-bottom: 5px;
            background-color: chartreuse;
            border-radius: 50%;
}
#one
{
            width: 225px;
            height: 60px;
            font-size: 30px;
            margin-right: 5px;
            margin-bottom: 5px;
            background-color: rgb(42, 219, 104);
            border-radius: 20%;            
}