body
{
    background-color: rgb(156, 222, 235);
}

h1{
    text-align: center;
}
.Slider
{
    height: 600px;
    width: 600px;  
    background-image: url(https://images.pexels.com/photos/45208/world-earth-planet-globe-45208.jpeg?auto=compress&cs=tinysrgb&w=600); 
    position: absolute;
    transform: translate(5% );
    animation: slide 20s  infinite linear;
}
@keyframes slide{
    0%
    {
        background-image: url(https://images.pexels.com/photos/4947569/pexels-photo-4947569.jpeg?auto=compress&cs=tinysrgb&w=600);
    }

}