body{
    text-align: center;
    background-color: aqua; 
}
#Scissor,#Paper,#Rock
{
    border-radius: 30%;
    padding: 50px;
    font-size: larger;

}
p{
    font-family: cursive;
    font-size: larger;
    text-align: center;
    text-decoration: underline;
}
h1{
        background-color :bisque;
        text-align: center;
}