marquee
{
    background-color: lightgoldenrodyellow;
}
#Scissor,#Paper,#Rock
{
    border-radius: 30%;
    padding: 50px;
    font-size: larger;

}
p{
    font-family: cursive;
    font-size: larger;
    text-align: center;
    text-decoration: underline;
}
h1{
        background-color :bisque;
        text-align: center;
}
.split {
    height: 100%;
    width: 50%;
    position: fixed;
    top: 20; 
    padding-top: 20px;
  } 
  .player{
    left: 0;
    text-align: center;
    background-color: aqua;   
}
 .opponent{
    right: 0;
    text-align: center;
    background-color: rgb(236, 113, 113);   
} 